
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-title clearfix">
    <h1 class="title">WASDE - Domestic</h1>
</div>
<div ng-controller="wasdedomesticcontroller" ng-init="GetCurrentJobInfo('WASDEDOMESTIC')" ng-cloak>
    <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="Job Summary" is-open="isopen" ng-click="isopen=!isopen" style="cursor:pointer">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3"><span style="font-size:16px">Status</span></div>
                            <div class="col-lg-3"><span style="font-size:16px">Message</span></div>
                            <div class="col-lg-3"><span style="font-size:16px">Start Time</span></div>
                            <div class="col-lg-3"><span style="font-size:16px">New Records</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3"><b style="font-size:18px" ng-bind="wasdedomesticjobinfo.status"></b></div>
                            <div class="col-lg-3"><b style="font-size:18px" ng-bind="wasdedomesticjobinfo.message"></b></div>
                            <div class="col-lg-3"><b style="font-size:18px" ng-bind="wasdedomesticjobinfo.startTime"></b></div>
                            <div class="col-lg-3"><b style="font-size:18px" ng-bind="wasdedomesticjobinfo.newRecords"></b></div>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3"><span style="font-size:16px">New Symbols</span></div>
                            <div class="col-lg-3"><span style="font-size:16px">Updated Records</span></div>
                            <div class="col-lg-3"><span style="font-size:16px">Un Mapped Records</span></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-3"><b style="font-size:18px" ng-bind="wasdedomesticjobinfo.newSymbols"></b></div>
                            <div class="col-lg-3"><b style="font-size:18px" ng-bind="wasdedomesticjobinfo.updatedRecords"></b></div>
                            <div class="col-lg-3"><b style="font-size:18px" ng-bind="wasdedomesticjobinfo.unmappedRecords"></b></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </uib-accordion>
    <br />
    <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="Raw Data" is-open="isopen" ng-click="isopen=!isopen" style="cursor:pointer">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal " method="get">
                        <!-- <e-ngx-viewer "type=='pdf'" [model]="'pdf'" [source]="url" [viewerUrl]="url" ></e-ngx-viewer> -->
                        <!-- <ngx-doc-viewer *ngIf="type=='doc'" [url]="url"  style="width:100%;height:500px;"></ngx-doc-viewer>
                          <ngx-doc-viewer *ngIf="type== 'pdf'" [url]="url" style="width:100%;height:500px;"  ></ngx-doc-viewer>
                        <iframe *ngIf="type=='xls'" src="url"></iframe> -->
                        <iframe id="wasdedomesticframe" ng-src="{{wasdedomesticFrameUrl|trusted}}" style="width:98%;height:650px;border: 1px solid #d4d4d4"></iframe>
                    </form>
                </div>
            </div>
        </div>
    </uib-accordion>
    <br />
    <uib-accordion>
        <div uib-accordion-group class="panel-default" heading="Formatted Data" is-open="true">
            <div class="row">
                <div class="col-xs-12">
                    <div class="col-xs-4">
                        <span class="text"></span>
                        Commodity:                        
                        <select class="form-control" id="selDomesticCommodity" ng-model="domesticcommodity.name">
                            <option ng-repeat="grid in gridOptions">{{grid.header.name}}</option>
                        </select>
                    </div>
                    <div class="col-xs-2">
                        <span class="text">Start Date: </span><div class="input-group date" data-provide="datepicker">
                            <input type="text" class="form-control" id="startDate">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <span class="text">End Date: </span><div class="input-group date" data-provide="datepicker">
                            <input type="text" class="form-control" id="endDate">
                            <div class="input-group-addon">
                                <span class="glyphicon glyphicon-th"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-2">
                        <span class="text"></span>
                        Select Duration:
                        <select class="form-control" id="selduration">
                            <option value="1">Last Updated</option>
                            <option value="2">Last 30 days</option>
                            <option value="3">Last 3 months</option>
                        </select>
                    </div>
                    <div class="col-xs-2">
                        <span class="text">&zwnj;</span>
                        <div class="input-group date">
                            <button class="btn btn-success" id="btnGo" ng-click="GetWASDEDomesticFormattedData()">GO</button>
                            &nbsp;&nbsp;&nbsp;&nbsp;
                            <button class="btn btn-default" id="btnReset" ng-click="ClearFilters()" title="Refresh"><i class="fa fa-refresh"></i></button>
                        </div>
                    </div>
                </div>
            </div>
            <br />
            <div class="panel-group" ng-repeat="grid in gridOptions">
                <div ng-if="grid.header.name == domesticcommodity.name">
                    <label ng-if="grid.header.unit != ''" ng-bind-template="Units: {{grid.header.unit}}" style="color:black;font-weight:bold"></label>
                    <div ui-grid="grid" ui-grid-pagination ui-grid-edit ui-grid-row-edit ui-grid-cellNav ui-grid-resize-columns ui-grid-selection ui-grid-exporter class="grid" ng-cloak></div><br /><br />
                </div>
            </div>
        </div>
    </uib-accordion>
</div>