/bin
/obj
Mcf.Web/bin
Mcf.Web/obj
/packages
/.git/obj/
*.dll
*.pdb
bin/*.dll
bin/*.pdb
/.git/bin/
/.git.v12.suo
/.git/.git.csproj.user
/McKeany/packages
CROPJob/bin
CROPJob/obj
DTNJob/bin
DTNJob/obj
MCFJobService/bin
MCFJobService/obj
McF.Business/bin
McF.Business/obj
McF.Common/bin
McF.Common/obj
McF.Contracts/bin
McF.Contracts/obj
McF.DataAccess/bin
McF.DataAccess/obj
McKeany/COTJob/bin
McKeany/COTJob/obj
McKeany/USWeeklyJob/bin
McKeany/USWeeklyJob/obj
McKeany/EthanolJob/bin
McKeany/EthanolJob/obj
McKeany/McKeanyServiceTest/bin
McKeany/McKeanyServiceTest/obj
McKeany/.vs
McKeany/UpgradeLog.htm
McKeany/McKeanyServiceTest/obj
/bin
/obj
Mcf.Web/bin
Mcf.Web/obj
/packages
/.git/obj/
*.dll
*.pdb
bin/*.dll
bin/*.pdb
/.git/bin/
/.git.v12.suo
/.git/.git.csproj.user
/McKeany/packages
./bin
./obj
/McKeany/COTJob/obj
*.suo
*.user
_ReSharper.*
bin
obj
packages