
@{
    ViewBag.Title = null;
    Layout = null;
}

<meta charset="utf-8" />
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script src="~/Scripts/index.js"></script>
<script src="~/Scripts/offline-exporting.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>
<script src="~/Scripts/jquery.combobox.js"></script>
<script src="~/Scripts/common-chart.js"></script>

<link href="~/Content/jquery-ui.css" rel="stylesheet" />
<link href="~/Content/font-awesome.css" rel="stylesheet" />
<link href="~/Content/chart.css" rel="stylesheet" />

<div id="demo-wrapper">
    <div class="chart-title clearfix">
        <div class="arrowToggle">
            <span class="link" id="chart_toggle">
                <i class="fa fa-caret-down"></i>
            </span>            
            <div id="chart-dropDown" class="collapse chart-dropDown" style="display:none;">
                <form>
                    <ul>
                        <li class="clearfix">
                            <span class="grid-lines">
                                <label for="SelectVGrid">
                                    <input type="checkbox" name="toggleGrid" id="SelectVGrid" value="SelectVGrid" onclick="SelectGridline(this.value, this.checked)">
                                    <span class="image" title="Vertical Grid line">
                                        <img src="~/img/chart-icon/grid-line.png" class="img-responsive" alt="Grid line" />
                                    </span>
                                </label>
                                <label for="SelectHGrid">
                                    <input type="checkbox" name="toggleGrid" id="SelectHGrid" value="SelectHGrid" onclick="SelectGridline(this.value, this.checked)">
                                    <span class="image" title="Horizontal Grid line">
                                        <img src="~/img/chart-icon/grid-line-h.png" class="img-responsive" alt="Grid line" />
                                    </span>
                                </label>
                            </span>
                            <label class="switch no-switch" for="CheckGrid" id="IsToggleGrid">
                                <input type="checkbox" id="CheckGrid" onclick="SetGrid()">
                                <span class="switch-slider round"></span>
                            </label>
                        </li>
                        <li class="clearfix">
                            <span class="image" title="Legends"><img src="~/img/chart-icon/legend.png" class="img-responsive" alt="Legends" /></span>
                            <label class="switch" for="legends">
                                <input type="checkbox" id="legends" onclick="updateChart()">
                                <span class="switch-slider round"></span>
                            </label>
                        </li>
                        <li class="clearfix">
                            <span class="image" title="Data label"><img src="~/img/chart-icon/data-label.png" class="img-responsive" alt="Data label" /></span>
                            <label class="switch" for="datalbl">
                                <input type="checkbox" id="datalbl" onclick="updateChart()">
                                <span class="switch-slider round"></span>
                            </label>
                        </li>
                        <li class="clearfix">
                            <span class="image" title="Drawing"><img src="~/img/chart-icon/drawing.png" class="img-responsive" alt="Drawing" /></span>
                            <label class="switch no-switch" for="drawing">
                                <input type="checkbox" id="drawing">
                                <span class="switch-slider round"></span>
                            </label>
                        </li>
                        <li class="clearfix">
                            <span class="image" title="Cross hair"><img src="~/img/chart-icon/cross-hair.png" class="img-responsive" alt="Cross hair" /></span>
                            <label class="switch no-switch" for="crosshair">
                                <input type="checkbox" id="crosshair">
                                <span class="switch-slider round"></span>
                            </label>
                        </li>
                        <li class="clearfix">
                            <span class="image" title="Utilities"><img src="~/img/chart-icon/utilities.png" class="img-responsive" alt="Utilities" /></span>
                            <label class="switch no-switch" for="utilities">
                                <input type="checkbox" id="utilities">
                                <span class="switch-slider round"></span>
                            </label>
                        </li>
                    </ul>
                </form>                
            </div>
        </div>
    </div>
    <div id="mapBox" style="height:410px;width:100%; border:2px;">
        <div id="containerData" style="height:460px;width:100%"></div>
    </div>
</div>
<script>
    var year = @Html.Raw(Json.Encode(ViewBag.Years));
    var value = @Html.Raw(Json.Encode(ViewBag.Value));
    //alert(year);
    //alert(refine);
    //alert(price);
    //alert(spread);

    var selectedVertical = false;
    var selectedHorzintal = false;
    var checkBoxGrid = document.getElementById("CheckGrid");
    var IsToggleGrid = document.getElementById("IsToggleGrid");
    var SelectVGrid = document.getElementById("SelectVGrid");
    var SelectHGrid = document.getElementById("SelectHGrid");

    function SelectGridline(value, checked) {
        if (checked == true) {
            IsToggleGrid.classList.remove("no-switch");
            checkBoxGrid.checked = true;
            if (value == 'SelectVGrid') {
                selectedVertical = true;
            }
            if (value == 'SelectHGrid') {
                selectedHorzintal = true;
            }
            updateChart();
        }
        else {
            if (value == 'SelectVGrid') {
                selectedVertical = false;
                if (selectedHorzintal == false) {
                    IsToggleGrid.classList.remove("no-switch");
                    checkBoxGrid.checked = false;
                }
            }
            if (value == 'SelectHGrid') {
                selectedHorzintal = false;
                if (selectedVertical == false) {
                    IsToggleGrid.classList.remove("no-switch");
                    checkBoxGrid.checked = false;
                }
            }
            updateChart();
        }

    }
    function SetGrid() {
        if (checkBoxGrid.checked == false) {
            selectedHorzintal = false;
            selectedVertical = false;
            SelectVGrid.checked = false;
            SelectHGrid.checked = false;
            IsToggleGrid.classList.add("no-switch");
            updateChart();
        }
    }

    function updateChart(legend) {
        var checkBoxLegend = document.getElementById("legends");
        if (legend == true) {
            checkBoxLegend.checked = true;
        }
       
        var checkDataLbl = document.getElementById("datalbl");
        var Vgrid = 0;
        var Hgrid = 0;
        var data = 0;
        var lbl = 0;
        if (checkBoxLegend.checked == true) {
            data = 1;
        }
        else {
            data = 0;
        }
        if (selectedVertical == true) {
            var Vgrid = 1
        }
        else {
            var Vgrid = 0;
        }
        if (selectedHorzintal == true) {
            var Hgrid = 1
        }
        else {
            var Hgrid = 0;
        }
        if (checkBoxGrid.checked == false) {
            Vgrid = 0;
            Hgrid = 0;
        }
        if (checkDataLbl.checked == true) {
            lbl = 1
        }
        Highcharts.setOptions({
            lang: {
                thousandsSep: ','
            }
        });
        _chart = Highcharts.chart('containerData', {
            chart: {
                type: 'spline',
                events: {
                    load: function () {
                        var label = this.renderer.label("DataSource: USDA")
                            .css({
                                width: '400px',
                                fontSize: '10px',

                            })
                            .attr({
                                'stroke': 'silver',
                                'stroke-width': 0,
                                'r': 2,
                                'padding': 10
                            })
                            .add();

                        label.align(Highcharts.extend(label.getBBox(), {
                            align: 'right',
                            x: 0, // offset
                            verticalAlign: 'bottom',
                            y: 0 // offset
                        }), null, 'spacingBox');

                    }
                },
                marginBottom: 120
                
            },
            title: {
                text: 'U.S. HFCS Demand',
                style: {
                    color: '#8B3910',
                    fontSize: '36px',
                    fontWeight: 'normal',
                    fontFamily: 'Cordia New'
                }
            },
            credits: {
                enabled: false
            },
            xAxis: {
                categories: year,
                gridLineWidth: Vgrid,
                labels: {
                    overflow: 'justify',
                    rotation: 320
                }
            },
            yAxis: {
                gridLineWidth: Hgrid,
                minorGridLineWidth: Hgrid,
                allowDecimals: false,
                min: 0,
                tickInterval: 4000,
                title: {
                    text: 'Cents per pound',
                    style: {
                        color: '#8B3910',
                        fontSize: '24px',
                        fontFamily: 'Cordia New'
                    }
                },
            },
            tooltip: {
                pointFormat: '{series.name}: <b>{point.y}</b><br/>'
            },
            legend: {
                symbolWidth: 20,
                enabled: data,
                
                itemStyle: {
                    color: '#000000',
                    fontWeight: 'normal',
                    fontSize: '13px'
                }
            },
            plotOptions: {
                spline: {
                    dataLabels: {
                        enabled: lbl,
                        //format: '{y:.2f} k',
                        style: {
                            color: '#B5B5B5',
                            fontSize: '10px',
                            textOutline: '0px contrast',
                            fontWeight: 'normal'
                            //textShadow: false
                        }
                    },
                    lineWidth: 4,
                    states: {
                        hover: {
                            lineWidth: 5
                        }
                    },
                    marker: {
                        enabled: false
                    }
                }
            },
            series: [{
                id: '_1',
                name: 'U.S. HFCS demand',
                data: value,
                color: '#FFC000',
                marker: {
                    enabled: false
                }
            }]
        },
            function (chart) { // on complete
                function noop() { };
                chart.renderer.button('<', chart.plotLeft - 20, chart.plotHeight + chart.plotTop, noop).addClass('left').add();


                chart.renderer.button('>', chart.plotLeft + chart.plotWidth - 10, chart.plotHeight + chart.plotTop, noop).addClass('right').add();

                $('.left').click(function () {
                    chart.xAxis[0].setExtremes(0, 13);
                });
                $('.right').click(function () {
                    chart.xAxis[0].setExtremes(14, 25);
                })
            }
        );
    }

    updateChart(true);
</script>

